@CHARSET "UTF-8";
html {
	background: #444;
	font-family: Tahoma,Geneva,sans-serif;
	border: 1px solid #dfdfdf;
	margin: 1em;
	text-color:white;
}
body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 15px;
    text-color:white;
    
   	
   	background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}


h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: white;
    font-weight: normal;
    width: 450px;
}

h2 {
    background: #ecebeb;
	height: 72px;
	text-align: right;
    letter-spacing: 6px;
    font-size: 2em;
    text-color:white;
    font-weight: bold;
    
}
h4{
    background: #ecebeb;
	height: 40px;
	text-align: right;
    font-size: 1em;
    text-color:white;
    width: 1200px;
    font-weight: normal;
}

table {
    width: 550px;
    padding: 10px;
    background-color: #1D5293;
    color:#ecebeb;
}

* body p {
	margin-left: 0;
	height: 1%;
	color: #ecebeb;
	font-size:1em;
	font-weight: bold;
}
form {
	color: #ecebeb;
}
ul.errorMessage {
	color: red;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
    color: #ecebeb;
    font-weight: none;
    font-size: 1em;
    text-decoration: none;
    height: 35px;
}

a {
   color: #ecebeb;
   font-weight: normal;
   text-decoration: underline;
}

a:link:hover {
   color: #ecebeb;
   font-weight: normal;
   text-decoration: underline;
}